.back {
  background-color: #ece8d9;
}
.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}
.image {
  width: 500px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
.caro {
  background-color: #f3b1cd;
}
